body {
    font-family: 'Share Tech Mono', monospace;
    color: rgb(44, 6, 6);
    margin: 0;
    padding: 0;
}

#wrapper {
    display: flex;
    justify-content: center;
}

#form {
    padding-top: 100px;
    position: absolute;
}

form {
    width: 300px;
}
